PORT=3001
NODE_ENV=development

# CORS - URL frontend (Vercel)
FRONTEND_URL=https://protech-neon.vercel.app

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ProFitSuppsDB
DB_USER=root
DB_PASSWORD=root
